* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111827;
  color: #e0e7ff;
}

.main-container {
  padding: 20px;
}

.info-container {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  color: white;
  border: 2px solid #60a5fa;
  box-shadow: 0 0 10px rgba(91, 33, 182, 0.4);
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
  &.no-clicking {
    pointer-events: none;
  }
}

.game-container .game-block {
  width: 120px;
  aspect-ratio: 1 / 1;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.game-container .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  border: 3px solid #3b82f6;
}

.game-container .game-block .front {
  background-color: #1e293b;
}

.game-container .game-block .front::before {
  content: "?";
  color: #8b5cf6;
  font-size: 80px;
  font-weight: bold;
}

.game-container .game-block .back {
  background-color: #334155;
  transform: rotateY(180deg);
}

.game-container .game-block .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-container .game-block.has-match,
.game-container .game-block.is-flipped {
  transform: rotateY(180deg);
}

@media (max-width: 600px) {
  .info-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 18px;
  }

  .game-container {
    gap: 10px;
  }

  .game-container .game-block {
    width: 90px;
  }

  .game-container .game-block .front::before {
    font-size: 60px;
  }
}

.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(59 130 246 / 0.9);
}

.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #111827;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: #8b5cf6;
  border: 2px solid white;
}

/* additional */
/*/
add true symbol on matched boxes
/*/
